/* as cores foram colocadas em unidade
/*  diferentes propositadamente */
body {
    background-image: url('https://media.giphy.com/media/xT3i0TD5DArdYCxGQE/giphy.gif?cid=790b7611c6z6yolbj65q5w3vfu0t47y64y8cxun3fhfkdy0x&ep=v1_gifs_search&rid=giphy.gif&ct=g');
    background-size: cover;
    font-family: "Segoe UI Bold Italic", Tahoma;
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    /* mais importante */
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
    /* espaço entre os cards */

}

.card {
    flex-basis: calc(100% / 3 - 20px);
    background-color: HSL(0, 3%, 84%);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    height: 550px;
    /* mudar se aumentar itens */
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-top: 10px 0;
}

button {
    border-radius: 5px;
    box-shadow: 1px 1px 23px 2px #0e9202;
}
footer{
    color:yellow
}